{% extends "base.html" %}
{% block content %}
<h2>Ваш кошик</h2>
{% if items %}
    <div class="list-group mb-3">
        {% for item in items %}
        <div class="list-group-item d-flex justify-content-between">{{ item.name }} <b>{{ item.price }} грн</b></div>
        {% endfor %}
        <div class="list-group-item active d-flex justify-content-between">
            <span>Разом до оплати:</span> <span>{{ total }} грн</span>
        </div>
    </div>
    <div class="d-flex gap-2">
        <form method="POST" action="{{ url_for('checkout_liqpay') }}">
            <button type="submit" class="btn btn-success btn-lg w-100 shadow">Сплатити {{ total }} грн</button>
        </form>
        <a href="{{ url_for('clear_cart') }}" class="btn btn-outline-danger btn-lg">Очистити</a>
    </div>
{% else %}
    <p>Кошик порожній.</p>
{% endif %}
<a href="/" class="btn btn-link mt-3">Назад до товарів</a>
{% endblock %}

