{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4 card p-4 shadow-sm">
        <h2 class="text-center">Вхід</h2>
        <form method="POST">
            <input type="email" name="email" class="form-control mb-2" placeholder="Email (admin@test.com)" required>
            <input type="password" name="password" class="form-control mb-3" placeholder="Пароль (123)" required>
            <button type="submit" class="btn btn-primary w-100">Увійти</button>
        </form>
    </div>
</div>
{% endblock %}
